#.envrc
source $HOME/.nix-profile/share/nix-direnv/direnvrc
export DO_UPDATE_NIXTCP="false"
set +u
if [ -z ${PATH_TO_NIXTCP} ]; then
    export DO_UPDATE_NIXTCP="true"
    export PATH_TO_NIXTCP="$(pwd)/.nixtcp"
    if [ ! -d "$PATH_TO_NIXTCP" ]; then
        git clone https://github.com/TheCrossProduct/nixtcp.git .nixtcp
    fi
fi
set -u

#watch_file uv.lock
#watch_file pyproject.toml

uv lock
(
  cd $PATH_TO_NIXTCP
  if [ "$DO_UPDATE_NIXTCP" == "true" ]; then
    rm flake.lock
    git pull
  fi
  #nix flake lock --update-input tcp-sdk
)

use flake path:$PATH_TO_NIXTCP#tcp-admin-sdk

