dist
build/
.cproject
.project
.vscode/
.idea/
.cache/
*.swp
build
build-*
.pre-commit-config.yaml
result
result-*
*.orig
__pycache__
*.pyc
*.egg-info/
tests/credentials.json
tests/token.json
.python-version
